.heading {
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url("https://i.pinimg.com/originals/ca/aa/da/caaada681189720e0a64c87e2c3446b9.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.about img {
    width: 100px;
    height: 100px
}

.Me {
    display: flex;
    margin: 20px;
    flex-direction: row;
}

.profile__img {
    background-image: url('/img/Kelvin Ramos- Benitez.jpg');
    height: 500px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .heading {
        height: 360px;
        justify-content: center;
    }

    body {
    font-size: .7rem;
    }

    .heading h1 h2{
        align-self: center;
        background-color: black;
    }

    .profile__img {
        height: 200px;
        width: 100px;
    }

    .Me {
        flex-direction: column;
    }

    .about img {
        width: 50px;
        height: 50px
    }
}


@media screen and (max-width: 600px) {
    .heading {
        width: 100%;
        height: auto;
    }

    body {
        font-size: .5rem;
        }

    .heading h1 h2{
        align-self: center;
        background-color: black;
    }

    .profile__img {
        height: 75px;
        width: 50px;
    }

    .Me {
        flex-direction: column;
    }

    .about img {
        width: 25px;
        height: 25px
    }
}
