#contact {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 40px;
  }
  
  input[type=text] {
    width: 97%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: solid 1px;
  }

  input[type=email] {
    width: 97%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: solid 1px;
  }

  
  #message{
    width: 97%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px solid black;
  }
  
  #submit{
    background: black;
    color: white;
    padding:13px 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 80px;
  }
  
  #submit:hover{
    background: red;
    color: white;
  }
  
  .box{
    background: #333;
    color: #fff;
  }
