.navbar {
    background-image: linear-gradient(to right, #a50104, #590004);
    padding: 10px 0px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.nav_ul li{
    list-style: none;
}

.nav_ul a {
    padding: 1.1rem;
    color: white;
    text-decoration: none;
}

.nav_ul li :hover{
    background-color: white;
    color: black;
}

@media screen and (max-width: 800px) {

}